<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.cyruscvc.geofence"
        version="1.0.0">
    <name>GeofencePlugin</name>
    <description>Cordova Geofencing Plugin for OutSystems</description>
    <license>MIT</license>
    <js-module src="www/GeofencePlugin.js" name="GeofencePlugin">
        <clobbers target="GeofencePlugin" />
    </js-module>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
        </config-file>
    </platform>
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>We need your location to enable geofencing.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>We need your location to enable geofencing.</string>
        </config-file>
    </platform>
    <dependency id="cordova-plugin-geofence" />
</plugin>
